SpeechRecognition
pyttsx3
google-generativeai
python-dotenv
rapidfuzz
aiohttp
mss
Pillow
openwakeword
pystray
psutil
pynvml
edge-tts
sounddevice
soundfile
pyautogui
pyperclip
opencv-python
pygetwindow
keyboard
mouse
fastapi
uvicorn
requests
win10toast
