SpeechRecognition==3.14.1
pyttsx3==2.98
pyaudio==0.2.14
google-generativeai==0.8.5
python-dotenv==1.2.2
duckduckgo-search==7.5.2
tavily-python==0.7.2
httpx==0.28.1
fastapi==0.136.3
uvicorn==0.47.0
edge-tts==7.0.2
sounddevice==0.5.1
soundfile==0.13.1
numpy==2.4.2
pyautogui==0.9.54
pyperclip==1.9.0
pystray==0.19.5
pywebview==5.4
websockets==16.0
requests==2.34.2
